log4j.rootCategory=DEBUG
log4j.logger.consoleLogger=DEBUG,console
log4j.logger.cronLogger=DEBUG,cron
log4j.logger.errorLogger=Error,error,console

log4j.appender.console=org.apache.log4j.ConsoleAppender
log4j.appender.console.layout=org.apache.log4j.PatternLayout
log4j.appender.console.layout.ConversionPattern=%p: %d{yy-MM-dd HH:mm:ss} %m%n
#log4j.appender.console.layout.ConversionPattern=%p: %d{yyyy-MM-dd HH:mm:ss} %C.%M(%L)%n%m%n

log4j.appender.cron=org.apache.log4j.DailyRollingFileAppender
log4j.appender.cron.File=%{ContextRealPath}/WEB-INF/logs/cron
log4j.appender.cron.DatePattern='_'yyyyMMdd'.log'   
log4j.appender.cron.Threshold=DEBUG   
log4j.appender.cron.layout=org.apache.log4j.PatternLayout
log4j.appender.cron.layout.ConversionPattern=%p: %d{yy-MM-dd HH:mm:ss} %m%n

log4j.appender.error=org.apache.log4j.DailyRollingFileAppender
log4j.appender.error.File=%{ContextRealPath}/WEB-INF/logs/error
log4j.appender.error.DatePattern='_'yyyyMMdd'.log'   
log4j.appender.error.Threshold=ERROR   
log4j.appender.error.layout=org.apache.log4j.PatternLayout
log4j.appender.error.layout.ConversionPattern=%p: %d{yy-MM-dd HH:mm:ss} %m%n

